<div class="bg-purple">
  <div class="stars">
    <div class="central-body">
      <img class="image-404" src="assets/svg/404.svg" alt="image" />
      <a routerLink="/" class="btn-go-home">IR AL HOME</a>
    </div>
    <div class="objects">
      <img class="object_rocket" src="assets/svg/rocket.svg" alt="image" />
      <div class="earth-moon">
        <img class="object_earth" src="assets/svg/earth.svg" alt="image" />
        <img class="object_moon" src="assets/svg/moon.svg" alt="image" />
      </div>
      <div class="box_astronaut">
        <img
          class="object_astronaut"
          src="assets/svg/astronaut.svg"
          alt="imagen"
        />
      </div>
    </div>
    <div class="glowing_stars">
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
    </div>
  </div>
</div>
